<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        body {
            background-color: #e0eff1;
            color: #680148;
            text-align: center;
            font-family: Helvetica;
            font-weight: bold;
            padding: auto;
            margin-top: 0;
            font-size: 30px;
        }
        .header {
            background-color: #7db4b5;
            padding: 5%;
        }
        h1 {
            font-size: 52px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Sentimos sua falta... 😕</h1>
    </div>
    <h2>Olá, {{ name }}!</h2>
    <p>Notei que você não realizou nenhuma aposta nos últimos 7 dias...
        Vim aqui te convidar para realizar uma nova aposta e tentar sua sorte hoje mesmo, essa poderá ser sua chance de
        ganhar!
    </p>
    <p>Te aguardamos ansiosos, equipe TGL.</p>
    </div>
</body>
</html>
