<h1>Olá {{ name }}</h1>

<p>Notamos que você não realizou nenhuma aposta nos últimos 7 dias...
Vim aqui te convidar para realizar uma aposta e tentar sua sorte hoje mesmo, essa poderá ser sua chance de ganhar!
</p>
<p>
Te aguardamos ansiosos, equipe TGL.
</p>
