<h1>Hello {{ name }}</h1>
<p>
  There was a request to reset your account password. If it was you, access the link below so you can change it.
  The link is valid for the next 4 hours, after which you will have to make a new request.
</p>
<p>Access the URL: {{ url }}</p>
