<h1> Welcome to TGL, your best betting site </h1>
<p>
  {{ name }}, you can now place your bets from home, in an extremely easy-to-use, secure environment with everything you need to try your luck today!
</p>
