<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        body {
            background-color: #e0eff1;
            color: #680148;
            text-align: center;
            font-family: Helvetica;
            font-weight: bold;
            padding: auto;
            margin-top: 0;
            font-size: 30px;
        }
        .header {
            background-color: #7db4b5;
            padding: 5%;
        }
        h1 {
            font-size: 52px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Bem-vindo(a) ao TGL, seu melhor site de apostas!</h1>
    </div>
    <p>{{ name }}, você acabou de cadastrar seu email em nosso sistema, a partir de agora você poderá realizar suas apostas em
        casa, em um ambiente seguro e extremamente fácil de usar, com tudo o que você precisa para tentar a sorte hoje
        mesmo!
    </p>
    <p>Acesse o site agora mesmo e realize sua primeira aposta, estamos torcendo por você! 😁</p>
    </div>
</body>
</html>
